
{% extends 'base.html' %}


{% block title %}Login{% endblock %}



{% block content %}


      {% include 'head.html'  %}
{% load static %}


  {% with 'images/'|add:item.photo as imagepath %}
    <img src="{% static  imagepath %}" style="height:250px; width:250px;">
    {% endwith %}<br/>

    {{ item.title  }}<br/>
    {{ item.price }} $<br/>
    {{ item.description  }}<br/>
 <a  href="/addtocard/{{item.id}}" class ="btn btn-primary">
     <i class ="fas fa-shopping-cart ml-1">Add to Card </i>
 </a>
 <a  href="/displaycard" class ="btn btn-primary">
     <i class ="fas fa-shopping-cart ml-1">Your Card </i>
 </a>





{% endblock %}